body {
    background-color: rgb(213, 213, 248);
}

.container {
    font-family: josefin sans;
}


.app {
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    display: block;
    margin: 45px auto;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    ;
}

.search-form-input {
    background-color: rgb(224, 235, 255);
    border: none;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
}

.search-button {
    background-color: rgb(126, 132, 255);
    color: azure;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;

}

form {
    margin-bottom: 20px;
}

.weather-app-city {
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bold;


}

.city-temp {
    display: flex;
    justify-content: space-between;
}

.weather-app-details {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 20px;
}

.weather-app-details strong {
    color: rgb(246, 1, 136);
}

.data {
    font-size: 70px;
}

.temperature-container {
    display: flex;
    justify-content: right;
}

.app-icon {
    width: 110px;
    height: 110px;
}

.app-temperature {
    font-size: 88px;
    font-weight: normal;

}

.app-unit {
    font-size: 30px;
    margin-top: 30px;
}

.weather-forecast {

    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;



}

.forecast-img {
    display: block;
    margin: 0 auto;
    width: 80px;


}

.weather-forecast-date {
    font-size: 20px;
    opacity: 0.6;
    text-align: center;
    padding-left: 21px;



}

.weather-forecast-temperature {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: rgb(246, 1, 136);

}

.weather-forecast-temperature-max {

    padding: 5px;


}

.weather-forecast-temperature-min {
    opacity: 0.6;
    padding: 5px;

}

footer {
    font-size: 10px;
    text-align: center;
}

a {
    color: #7E84FF;
}